body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.search-form input.form-control {
    width: 50%;
    background-color: #222;
    color: white;
    border: 1px solid #444;
}

.search-results {
    list-style: none;
    padding: 0;
}

.search-results li {
  background-color: #1c1c1c;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #e10600;
}

.username {
  font-weight: bold;
  color: #00cfff;
  text-decoration: none;
}

.email {
    margin-left: 10px;
    color: #aaa;
    font-size: 0.9em;
}

.username:hover {
  text-decoration: underline;
}

.navbar.bg-danger {
  background-color: #e10600 !important;
}