<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>
  <div class="login-container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST">
      {{ form.hidden_tag() }} <!-- CSRF Token -->

      <h2>Register</h2>

      <!-- Step 1: Basic Info -->
      <div class="step active" id="step1">
        <div class="form-group">
          {{ form.username.label(class="label") }}
          {{ form.username(class="input") }}
        </div>
        <div class="form-group">
          {{ form.email.label(class="label") }}
          {{ form.email(class="input") }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="label") }}
          {{ form.password(class="input") }}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class="label") }}
          {{ form.confirm_password(class="input") }}
        </div>
        <button type="button" class="btn" onclick="nextStep()">Next</button>
      </div>

      <!-- Step 2: Team & Driver -->
      <div class="step" id="step2">
        <h3>Choose Your Favorite Team</h3>
        <div class="team-grid">
          {% for team in teams %}
          <img src="{{ team.image_url }}" class="team" data-value="{{ team.name }}" onclick="selectTeam(this)">
          {% endfor %}
        </div>
        {{ form.favorite_team(id="favorite_team") }}


        <div id="driverSection" style="display: none;">
          <h3>Choose Your Favorite Driver</h3>
          <div class="driver-grid" id="driverContainer"></div>
          {{ form.favorite_driver(id="fav-driver") }}
        </div>

        <button type="button" class="btn" onclick="prevStep()">Back</button>
        <button type="submit" class="btn">Register</button>
      </div>
    </form>

    <p class="register-link">
      Already have an account?
      <a href="{{ url_for('main.login') }}">Login here</a>.
    </p>
  </div>
  <script>
    const driversByTeam = {{ drivers_by_team | tojson }};
  </script>
  <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>
